<mat-toolbar
  *transloco="let t; read: 'navigation'"
  color="primary"
  class="navbar"
>
  @if (!(isSmallScreen$ | ngrxPush)) {
    <div class="nav-links">
      <button mat-button [routerLink]="OVERVIEW_SLUG">
        <ng-icon name="ionPerson" class="icon"></ng-icon>
        {{ t('overview') }}
      </button>
      <button mat-button [routerLink]="SKILLS_SLUG">
        <ng-icon name="ionBulb" class="icon"></ng-icon>
        {{ t('skills') }}
      </button>
      <button mat-button [routerLink]="TIMELINE_SLUG">
        <ng-icon name="ionGitCommit" class="icon"></ng-icon>
        {{ t('timeline') }}
      </button>
    </div>
  }

  @if (isSmallScreen$ | ngrxPush) {
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <ng-icon name="ionMenu" class="icon"></ng-icon>
    </button>
  }
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="OVERVIEW_SLUG">{{ t('overview') }}</button>
    <button mat-menu-item [routerLink]="SKILLS_SLUG">{{ t('skills') }}</button>
    <button mat-menu-item [routerLink]="TIMELINE_SLUG">{{ t('timeline') }}</button>
  </mat-menu>

  <span class="spacer"></span>
  <app-language-switcher></app-language-switcher>
  @if (resumeStore.activeResume()?.github) {
    <button mat-icon-button aria-label="GitHub" (click)="openExternalLink(resumeStore.activeResume()?.github)">
      <ng-icon name="ionLogoGithub" class="icon"></ng-icon>
    </button>
  }
  @if (resumeStore.activeResume()?.linkedin) {
    <button mat-icon-button aria-label="LinkedIn" (click)="openExternalLink(resumeStore.activeResume()?.linkedin)">
      <ng-icon name="ionLogoLinkedin" class="icon"></ng-icon>
    </button>
  }
</mat-toolbar>
