.skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  .skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 1.2rem;
      color: var(--text-color);
    }

    .skill-level {
      font-size: 0.9rem;
      color: #555;
    }
  }

  .skill-progress {
    height: 15px;
    border-radius: 4px;
  }

  @media (min-width: 768px) {
    max-width: 600px;

    .skill-header h3 {
      font-size: 1.4rem;
    }

    .skill-progress {
      height: 10px;
    }
  }

  @media (min-width: 1024px) {
    max-width: 1000px;

    .skill-header h3 {
      font-size: 1.6rem;
    }

    .skill-progress {
      height: 15px;
    }
  }

  @media (min-width: 1440px) {
    max-width: 1400px;

    .skill-header h3 {
      font-size: 1.8rem;
    }

    .skill-progress {
      height: 20px;
    }
  }
}

