mat-grid-list {
  height: 100vh;
}

mat-grid-tile {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.general-information-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

