{
  "openapi": "3.0.1",
  "info": {
    "title": "Resume",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://fynn-koch.de:8443",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/resumes/{resumeId}": {
      "get": {
        "tags": [
          "Resumes"
        ],
        "summary": "Get a resume",
        "operationId": "getOne",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "If no resume was found for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "200": {
            "description": "If the resume has been loaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeView"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resumes"
        ],
        "summary": "Update a resume",
        "operationId": "update",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeUpdateOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "If no resume has been found for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "412": {
            "description": "If the entity has been modified since.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "200": {
            "description": "If the resume has been updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeView"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this resource."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Resumes"
        ],
        "summary": "Delete a resume",
        "operationId": "delete",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "If no resume has been found for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "412": {
            "description": "If the entity has been modified since.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this resource."
          },
          "204": {
            "description": "If the resume has been deleted successfully."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/resumes/{resumeId}/skills/{skillId}": {
      "put": {
        "tags": [
          "Skills"
        ],
        "summary": "Update a skill of a resume",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "skillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillUpdateOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "412": {
            "description": "If the entity has been modified since.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "200": {
            "description": "If the skill has been updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillView"
                }
              }
            }
          },
          "404": {
            "description": "If no resume or skill was found for the given ids.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this resource."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Skills"
        ],
        "summary": "Delete a skill of a resume",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "skillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "If the skill has been deleted successfully."
          },
          "412": {
            "description": "If the entity has been modified since.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "If no resume or skill has been found for the given ids.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this resource."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/resumes": {
      "get": {
        "tags": [
          "Resumes"
        ],
        "summary": "Get all resumes",
        "operationId": "getAll",
        "responses": {
          "200": {
            "description": "If the resumes have been loaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResumeView"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resumes"
        ],
        "summary": "Create a resume",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeCreateOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "If the resume has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeView"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this resource."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/resumes/{resumeId}/skills": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Get all skills of a resume",
        "operationId": "getAllByResume",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "If no resume was found for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "200": {
            "description": "If the skills have been loaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SkillView"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Create a skill for a resume",
        "operationId": "create_1",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillCreateOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "If no resume was found for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "201": {
            "description": "If the skill has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillView"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this resource."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/resumes/{resumeId}/toggle-status": {
      "patch": {
        "tags": [
          "Resumes"
        ],
        "summary": "Toggles the status of a resume from ACTIVE to INACTIVE and the other way around. Only one resume can be active at a time",
        "operationId": "toggleStatus",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "If no resume has been found for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "412": {
            "description": "If the entity has been modified since.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "200": {
            "description": "If the status of the resume has been toggled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeView"
                }
              }
            }
          },
          "401": {
            "description": "If the user is not authorized to access this resource."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ResumeUpdateOrder": {
        "required": [
          "address",
          "city",
          "country",
          "dateOfBirth",
          "description",
          "firstName",
          "lastName",
          "postalCode",
          "sex"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "sex": {
            "type": "string",
            "enum": [
              "FEMALE",
              "DIVERSE",
              "MALE"
            ]
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "address": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "linkedin": {
            "type": "string"
          },
          "github": {
            "type": "string"
          }
        }
      },
      "ProblemDetail": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string",
            "format": "uri"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "ResumeView": {
        "required": [
          "address",
          "city",
          "country",
          "dateOfBirth",
          "description",
          "firstName",
          "id",
          "lastModifiedAt",
          "lastName",
          "postalCode",
          "sex",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the entity",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "lastModifiedAt": {
            "type": "string",
            "description": "The timestamp the entity has last been modified",
            "format": "date-time",
            "example": "2024-12-05T10:40:51.123456+02:00"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the resumes creator"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the resumes creator"
          },
          "sex": {
            "type": "string",
            "description": "Sex of the resumes creator",
            "enum": [
              "FEMALE",
              "DIVERSE",
              "MALE",
              "FEMALE",
              "DIVERSE",
              "MALE"
            ]
          },
          "dateOfBirth": {
            "type": "string",
            "description": "Date of birth of the resumes creator",
            "format": "date"
          },
          "address": {
            "type": "string",
            "description": "Address of the resumes creator including street and house number",
            "example": "Main Street 1"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the city"
          },
          "city": {
            "type": "string",
            "description": "City where the resumes creator lives"
          },
          "country": {
            "type": "string",
            "description": "Country where the resumes creator lives"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of the resumes creator"
          },
          "mobileNumber": {
            "type": "string",
            "description": "Mobile number of the resumes creator"
          },
          "email": {
            "type": "string",
            "description": "Email address of the resumes creator"
          },
          "description": {
            "type": "string",
            "description": "Description of the resumes creators skills, interests and experiences"
          },
          "linkedin": {
            "type": "string",
            "description": "LinkedIn profile URL of the resumes creator"
          },
          "github": {
            "type": "string",
            "description": "GitHub profile URL of the resumes creator"
          },
          "status": {
            "type": "string",
            "description": "Status of the resume",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "ACTIVE",
              "INACTIVE"
            ]
          }
        }
      },
      "SkillUpdateOrder": {
        "required": [
          "name",
          "skillCategory",
          "skillLevel"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "skillCategory": {
            "type": "string",
            "enum": [
              "CI_CD",
              "CLOUD",
              "FRAMEWORK",
              "OPERATING_SYSTEM",
              "OTHER",
              "PROGRAMMING_LANGUAGE"
            ]
          },
          "skillLevel": {
            "type": "string",
            "enum": [
              "NOVICE",
              "ADVANCED_BEGINNER",
              "INTERMEDIATE",
              "ADVANCED",
              "EXPERT"
            ]
          }
        }
      },
      "SkillView": {
        "required": [
          "id",
          "lastModifiedAt",
          "name",
          "skillCategory",
          "skillLevel"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the entity",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "lastModifiedAt": {
            "type": "string",
            "description": "The timestamp the entity has last been modified",
            "format": "date-time",
            "example": "2024-12-05T10:40:51.123456+02:00"
          },
          "name": {
            "type": "string",
            "description": "Name of the skill"
          },
          "skillCategory": {
            "type": "string",
            "description": "Category of the skill",
            "enum": [
              "CI_CD",
              "CLOUD",
              "FRAMEWORK",
              "OPERATING_SYSTEM",
              "OTHER",
              "PROGRAMMING_LANGUAGE",
              "CI_CD",
              "CLOUD",
              "FRAMEWORK",
              "OPERATING_SYSTEM",
              "OTHER",
              "PROGRAMMING_LANGUAGE"
            ]
          },
          "skillLevel": {
            "type": "string",
            "description": "Level of the skill",
            "enum": [
              "NOVICE",
              "ADVANCED_BEGINNER",
              "INTERMEDIATE",
              "ADVANCED",
              "EXPERT",
              "NOVICE",
              "ADVANCED_BEGINNER",
              "INTERMEDIATE",
              "ADVANCED",
              "EXPERT"
            ]
          }
        }
      },
      "ResumeCreateOrder": {
        "required": [
          "address",
          "city",
          "country",
          "dateOfBirth",
          "description",
          "firstName",
          "lastName",
          "postalCode",
          "sex"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "sex": {
            "type": "string",
            "enum": [
              "FEMALE",
              "DIVERSE",
              "MALE"
            ]
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "address": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "linkedin": {
            "type": "string"
          },
          "github": {
            "type": "string"
          }
        }
      },
      "SkillCreateOrder": {
        "required": [
          "name",
          "skillCategory",
          "skillLevel"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "skillCategory": {
            "type": "string",
            "enum": [
              "CI_CD",
              "CLOUD",
              "FRAMEWORK",
              "OPERATING_SYSTEM",
              "OTHER",
              "PROGRAMMING_LANGUAGE"
            ]
          },
          "skillLevel": {
            "type": "string",
            "enum": [
              "NOVICE",
              "ADVANCED_BEGINNER",
              "INTERMEDIATE",
              "ADVANCED",
              "EXPERT"
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
